In [6]:
import ml_loader as ml # Import library
import numpy as np # linear algebra
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score, roc_curve
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import resample
import joblib

In [4]:
data = ml.load_data('Telco_customer_churn.xlsx')

In [5]:
# Display basic info
print(data.info())
print(data.describe())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB
None
        Count      Zip Code     Latitude    Longitude  Tenure Months  \
count  7043.0   7043.000000  7043.000000  7043.000000    7043.000000
mean      1.0  93521.964646    36.282441  -119.798880      32.371149
std       0.0   1865.794555     2.455723     2.157889      24.559481
min       1.0  90001.000000    32.555828  -124.301372       0.000000
25%       1.0  92102.000000    34.030915  -121.815412       9.000000
50%       1.0  93552.000000    36.391777  -119.730885      29.000000
75%       1.0  95351.000000    38.224869  -118.043237      55.000000
max       1.0  96161.000000    41.962127  -114.192901      72.000000

       Monthly Charges  Churn Value  Churn Score         CLTV
count      7043.000000  7043.000000  7043.000000  7043.000000
mean         64.761692     0.265370    58.699418  4400.295755
std          30.090047     0.441561    21.525131  1183.057152
min          18.250000     0.000000     5.000000  2003.000000
25%          35.500000     0.000000    40.000000  3469.000000
50%          70.350000     0.000000    61.000000  4527.000000
75%          89.850000     1.000000    75.000000  5380.500000
max         118.750000     1.000000   100.000000  6500.000000
   CustomerID  Count        Country       State         City  Zip Code  \
0  3668-QPYBK      1  United States  California  Los Angeles     90003
1  9237-HQITU      1  United States  California  Los Angeles     90005
2  9305-CDSKC      1  United States  California  Los Angeles     90006
3  7892-POOKP      1  United States  California  Los Angeles     90010
4  0280-XJGEX      1  United States  California  Los Angeles     90015

                 Lat Long   Latitude   Longitude  Gender  ...        Contract  \
0  33.964131, -118.272783  33.964131 -118.272783    Male  ...  Month-to-month
1   34.059281, -118.30742  34.059281 -118.307420  Female  ...  Month-to-month
2  34.048013, -118.293953  34.048013 -118.293953  Female  ...  Month-to-month
3  34.062125, -118.315709  34.062125 -118.315709  Female  ...  Month-to-month
4  34.039224, -118.266293  34.039224 -118.266293    Male  ...  Month-to-month

  Paperless Billing             Payment Method  Monthly Charges Total Charges  \
0               Yes               Mailed check            53.85        108.15
1               Yes           Electronic check            70.70        151.65
2               Yes           Electronic check            99.65         820.5
3               Yes           Electronic check           104.80       3046.05
4               Yes  Bank transfer (automatic)           103.70        5036.3

  Churn Label Churn Value Churn Score  CLTV                   Churn Reason
0         Yes           1          86  3239   Competitor made better offer
1         Yes           1          67  2701                          Moved
2         Yes           1          86  5372                          Moved
3         Yes           1          84  5003                          Moved
4         Yes           1          89  5340  Competitor had better devices

[5 rows x 33 columns]

In [8]:
# Define the target variable and separate features and target
target = 'Churn Value'  # Use 'Churn Label' if you want to work with Yes/No labels
X = data.drop(columns=[target])
y = data[target]

# If using 'Churn Label' (Yes/No), convert it to binary
if target == 'Churn Label':
    le = LabelEncoder()
    y = le.fit_transform(y)  # 'Yes' -> 1, 'No' -> 0

In [9]:
print(y.unique())  # This should print `[0, 1]` if using 'Churn Label' or directly from 'Churn Value'

[1 0]

In [ ]:
# Handling missing values
# Fill numerical NaNs with the median
for column in X.select_dtypes(include=['float64', 'int64']).columns:
    X[column] = X[column].fillna(X[column].median())

# Fill categorical NaNs with the mode
for column in X.select_dtypes(include=['object']).columns:
    X[column] = X[column].fillna(X[column].mode().iloc[0])

In [13]:
# Encoding categorical variables
X = pd.get_dummies(X, drop_first=True)